
<!-- <div class="row fixed-top" style="background-color:#222B92;">
  <div class="col-4 col-md-5">
    <img src="assets/logo.jpg" class="logo" width="100" alt="FY5 Company">
  </div>
  <div class="col-1 col-md-1" style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">Welcome</a>
  </div>
  <div class="col-1 col-md-1"style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">Features</a>
  </div>
  <div class="col-1 col-md-1"style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">About</a>
  </div>
  <div class="col-1 col-md-1"style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">Sample</a>
  </div>
  <div class="col-1 col-md-1"style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">Pricing</a>
  </div>
  <div class="col-2 col-md-2"style="margin-top: 20px;">
    <a href="#" class="nav-link scrollto" style="color:aliceblue;">Contact us</a>
  </div>
</div> -->
<div class="grid relative">
  <div class="col-12 fixed z-5 top-0 left-0 px-4 py-3 w-full">
    <p-menubar [model]="items" class="p-menubar-end">
      <ng-template pTemplate="start">
          <img src="assets/logo.jpg" height="40" class="mr-2">
      </ng-template>
      <ng-template pTemplate="end">
          <input type="text" pInputText placeholder="Search">
      </ng-template>
  </p-menubar>
    <!-- <img  class="logo" width="100" alt="FY5 Company"> -->
  </div>
  <!-- <div class="col-12 md:col-6">
    <p-megaMenu [model]="items">
      <input type="text" pInputText placeholder="Search">
      <button pButton label="Logout" icon="pi pi-sign-out"></button>
    </p-megaMenu>
  </div> -->
</div>

<!-- <span class="p-input-icon-left p-ml-auto">
  <i class="pi pi-search"></i>
  <input pInputText class="search" type="text"  placeholder="Search by Name" />
</span> -->
      
    
 
 
  
