<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6 px-4 py-8 md:px-6 lg:px-8"
      style="background: linear-gradient(116.38deg, #7d75e9 0%, #6862a1 28%, #EEEEEE 28.01%, #F0F1F3 64.54%);">
      <div class="text-4xl text-gray-900 mb-3 font-medium">About us</div>
      <p class="line-height-3 mt-0 mb-7 p-0 text-gray-900 text-2xl">FY5 Card is for better performance at much lower
        costs.We will
        design your digital visiting card in one of the finest way possible - it's easy, elegant and affordable. Fy5
        visiting card
        is always in your pocket, never tears and never runs out. Your Digital Visiting Card can be easily updated with
        our user-friendly dashboard,
        so you won't need to re-print a business card again. </p>
      <button pbutton pripple class="p-element p-ripple p-button-secondary text-2xl p-button p-component">Get Started
      </button>
    </div>
    <div class="hidden lg:block w-6 bg-no-repeat bg-cover" style="background: url('assets/about.png');"></div>
  </div>
</div> -->




<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-column lg:flex-row align-items-center justify-content-between">
    <div class="text-center lg:text-left lg:pr-8">
      <div class="text-blue-600 font-medium mb-1 text-xl text-center">TAKE THE NEXT STEP</div>
      <div class="text-900 font-bold text-6xl mb-5 text-center">About us</div>
      <div class="flex flex-column card-container">

     
      <span
        class="inline-flex align-items-center bg-blue-50 px-3 py-2 mr-2 mb-2 lg:mb-0 border-1 border-blue-200"
        style="border-radius: 50px;"><i class="pi pi-check text-blue-500 mr-2"></i><span
          class="text-gray-700 font-medium">FY5 Card is for better performance at much lower
          costs.</span></span>
          <span
        class="inline-flex align-items-center bg-blue-50 px-3 py-2 border-1 border-blue-200 mt-2"
        style="border-radius: 50px;"><i class="pi pi-check text-blue-500 mr-2"></i><span
          class="text-gray-700 font-medium">We will design your digital visiting card in one of the finest way possible </span></span>
          <span class="inline-flex align-items-center bg-blue-50 px-3 py-2 border-1 border-blue-200 mt-2"
        style="border-radius: 50px;"><i class="pi pi-check text-blue-500 mr-2"></i><span
          class="text-gray-700 font-medium">Fy5 visiting card is always in your pocket, never tears and never runs out.</span></span>
          <span class="inline-flex align-items-center bg-blue-50 px-3 py-2 border-1 border-blue-200 mt-2"
        style="border-radius: 50px;"><i class="pi pi-check text-blue-500 mr-2"></i>
        <span class="text-gray-700 font-medium">Your Digital Visiting Card can be easily updated with our user-friendly dashboard.</span></span>
        <span class="inline-flex align-items-center bg-blue-50 px-3 py-2 border-1 border-blue-200 mt-2"
        style="border-radius: 50px;"><i class="pi pi-check text-blue-500 mr-2"></i>
        <span class="text-gray-700 font-medium">It's easy, elegant and affordable</span></span>
        </div>
    </div>
    <div class="mt-5 lg:mt-0 flex flex-wrap lg:flex-nowrap">
      <button pbutton="" pripple="" label="Get Started"
        class="p-element p-ripple px-5 py-3 mr-0 lg:mr-3 p-button-rounded font-bold mb-3 lg:mb-0 w-full lg:w-auto white-space-nowrap p-button p-component"><span
          class="p-button-label">Get Started</span><span class="p-ink"></span></button>
          <button pbutton="" pripple=""
        label="Request a Demo" icon="pi pi-arrow-right" iconpos="right"
        class="p-element p-ripple px-5 py-3 p-button-outlined p-button-rounded font-bold w-full lg:w-auto white-space-nowrap p-button p-component"
        style="white-space: nowrap;"><span class="p-button-icon p-button-icon-right pi pi-arrow-right"
          aria-hidden="true"></span><span class="p-button-label">Request a Demo</span><span
          class="p-ink"></span></button></div>
  </div>
</div>
