<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
  <!-- <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Velit numquam eligendi quos.</div> -->
  <div class="grid">
    <div class="col-12 md:col-4 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 hover:bg-green-100 p-3 h-full flex flex-column surface-card text-center" style="border-radius: 6px;">
          <div class="text-900 font-medium text-xl mb-2 text-center">ONE BUSINESS CARD ENDLESS POSSIBILITES</div>
   
          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <div class="flex align-items-center justify-content-center"><span class="font-bold text-2xl text-900">₹199</span><span
              class="ml-2 font-medium text-600">per month</span></div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span> Profile Photo.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Share cards with anyone, Unlimited times.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Limited design.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span><del>Franchise Option available.</del></span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span><del>Payment Section.</del></span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span><del>Products with description and an image.</del></span></li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto">
          <button pbutton="" pripple=""
            label="Buy Now" class="p-element p-ripple p-button-outlined p-3 w-full mt-auto p-button p-component"><span
              class="p-button-label">Buy Now</span><span class="p-ink"></span></button>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 hover:bg-red-100 p-3 h-full flex flex-column surface-card" style="border-radius: 6px;">
          <div class="text-900 font-medium text-xl mb-2 text-center">DIGITAL BUSINESS CARDS FOR CORPORATES</div>
  
          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <div class="flex align-items-center justify-content-center"><span class="font-bold text-2xl text-900">₹399</span><span
              class="ml-2 font-medium text-600">per month</span></div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span> Profile Photo.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Share cards with anyone, Unlimited times.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Limited design.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span>Franchise Option available.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span>Payment Section.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span><del>Products with description and an image.</del></span></li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"><button pbutton="" pripple="" label="Buy Now"
            class="p-element p-ripple p-3 w-full p-button-outlined p-button p-component"><span class="p-button-label">Buy Now</span><span
              class="p-ink"></span></button>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 hover:bg-blue-100 p-3 flex flex-column surface-card" style="border-radius: 6px;">
          <div class="text-900 font-medium text-xl mb-2 text-center ">FRANCHISE PARTNERS PROGRAMS WITH US</div>

          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <div class="flex align-items-center text-center justify-content-center"><span class="font-bold text-2xl text-900 text-center"><del>₹999</del>-₹899</span><span
              class="ml-2 font-medium text-600 text-center">per month</span> <span class="bg-orange-100 500 text-center text-orange-500 font-semibold px-2 border-round">🎉 Save 10%</span></div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border">
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span> Profile Photo.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Share cards with anyone, Unlimited times.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-check-circle text-green-500 mr-2"></i><span>Limited design.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span>Franchise Option available.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span>Payment Section.</span></li>
            <li class="flex align-items-center mb-3"><i class="pi pi-times-circle text-green-500 mr-2"></i><span>Products with description and an image.</span></li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"><button pbutton="" pripple="" label="Buy Now"
            class="p-element p-ripple p-3 w-full p-button-outlined p-button p-component"><span
              class="p-button-label">Buy Now</span><span class="p-ink"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
