<!-- <div class="grid grid-nogutter surface-section text-800 mt-8">
  <div class="col-12 md:col-6 lg:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">Take your business to next level with FY5 card</span>
      <div class="text-6xl text-primary font-bold mb-3">Here you will get Digital Business Card</div>
      <p class="mt-0 mb-4 text-700 line-height-3">We Convert Your Normal Visiting Card into Digital Business Card. Our
        platform allows professionals to easily
        share their Business information without the need for paper business cards</p>

      <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
      <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 lg:col-6 hidden md:block overflow-hidden">
    <img src="../assets/home.jpg" alt="Image" class="md:ml-auto block homeclip"
     >
  </div>
</div> -->
<div class="px-4 py-8 md:px-6 lg:px-8 mt-3">
  <div class="flex flex-wrap">
    <div class="w-12 lg:w-6 p-4">
      <h1 class="text-6xl font-bold  mt-0 mb-3">Take your business to next level with <span
          class="text-yellow-500 underline">FY5 card</span></h1>
      <div class="text-3xl text-primary font-bold mb-3">Here you will get Digital Business Card</div>
      <p class="text-3xl  mt-0 mb-5">We Convert Your Normal Visiting Card into Digital Business Card. Our
        platform allows professionals to easily
        share their Business information without the need for paper business cards.</p>
      <ul class="list-none p-0 m-0">
        <li class="mb-3 flex align-items-center"><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i><span
            class=" line-height-3">Lifetime access.</span></li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-map text-yellow-500 text-xl mr-2"></i><span
            class=" line-height-3">Get card with own designs.</span></li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-calendar text-yellow-500 text-xl mr-2"></i><span
            class=" line-height-3">Showcase anywhere.</span></li>
      </ul><button type="button" pbutton="" pripple="" label="Claim Your Account"
        class="p-element p-ripple block mt-7 mb-7 lg:mb-0 p-button-rounded p-button-success p-button-lg font-medium p-button p-component"><span
          class="p-button-label">Claim Your Card</span><span class="p-ink"></span></button>
    </div>
    <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
      <img src="../assets/hm.jpg" alt="Image" class="w-full lg:w-auto">
    </div>
  </div>
</div>

<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap text-center">

    <!-- <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0"
      style="border-radius: 30px;">
      <div class="relative w-full" style="padding-bottom: 56.25%; height: 0;">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/XNRevmRLb70" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="" class="absolute top-0 left-0 w-full h-full">

        </iframe> 
        <img src="../assets/home.jpg" alt="Image" class="md:ml-auto block homeclip" width="300" height="280">
      </div>
    </div> 
    <div class="w-full xl:w-12 p-3 pr-5">
      <span class="text-indigo-600 font-bold mb-4 block">SUPERCHARGE YOUR PROFILE</span>
      <div class="font-bold text-900 text-6xl mb-4">Welcome to FY5 Cardmaker</div>


      <p class="mt-0 mb-4 line-height-3 text-xl text-center mx-auto" style="max-width: 700px;">FY5cardmaker empowers
        millions of business owners to market themselves digitally across the globe. Our wide ranges of quality digital
        visiting cards are available at affordable prices. Additionally, we aim to match the design tools with every
        skill level and need, which means everyone (small, medium, or large business owners) can create their customized
        vcard as per their requirements. Forget about the outdated visiting card designs that deserve to be in the trash
        now. With our Digital visiting Card, you can create and share your contact information in just a click like an
        email, call, Whatsapp, Map, Website Link, Social Links, Maps, and much more. Represent your business digitally
        with our creative visiting cards. You can get instant access to all your essential business tools with our
        online FY5 card services.</p>

      <div class="relative w-full xl:w-30rem">
        <input pinputtext="" type="text" placeholder="Enter your email"
          class="p-inputtext p-component p-element py-3 pl-3 w-full" style="border-radius: 30px; padding-right: 8rem;">
        <button class="p-3 absolute appearance-none p-component border-none bg-indigo-500
             hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full 
             cursor-pointer" style="border-radius: 30px; top: 0; right: 0;">Join Now</button>
      </div>
    </div>
  </div>
</div> -->



<!-- <div class="px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
      <div class="w-12 lg:w-6 p-4">
          <h1 class="text-6xl font-bold  mt-0 mb-3">Social CRM that helps you grow faster <span
                  class="text-yellow-500 underline">for free</span></h1>
          <p class="text-3xl  mt-0 mb-5">Arcu cursus euismod quis viverra nibh cras. Amet justo donec
              enim diam vulputate ut.</p>
          <ul class="list-none p-0 m-0">
              <li class="mb-3 flex align-items-center"><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i><span
                      class=" line-height-3">Senectus et netus et malesuada fames.</span></li>
              <li class="mb-3 flex align-items-center"><i class="pi pi-map text-yellow-500 text-xl mr-2"></i><span
                      class=" line-height-3">Orci a scelerisque purus semper eget.</span></li>
              <li class="mb-3 flex align-items-center"><i
                      class="pi pi-calendar text-yellow-500 text-xl mr-2"></i><span
                      class=" line-height-3">Aenean sed adipiscing diam donec adipiscing
                      tristique.</span></li>
          </ul><button type="button" pbutton="" pripple="" label="Claim Your Account"
              class="p-element p-ripple block mt-7 mb-7 lg:mb-0 p-button-rounded p-button-success p-button-lg font-medium p-button p-component"><span
                  class="p-button-label">Claim Your Account</span><span class="p-ink"></span></button>
      </div>
      <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
        <img src="../assets/hm.jpg" alt="Image" class="w-full lg:w-auto">
      </div>
  </div>
</div> -->


<div class="px-4 py-8 md:px-6 lg:px-8"
  style="background: url('../assets/testimonials-4.png') no-repeat; background-size: cover;">
  <div class="flex flex-column lg:flex-row">
    <div class="flex-1 pr-0 lg:pr-6 pb-6 lg:pb-0">
      <div class="mb-5 text-900 font-bold text-5xl">Welcome to FY5 Cardmaker</div>
      <p class="line-height-3 text-600 text-2xl mb-5">FY5cardmaker empowers millions of business owners to market
        themselves digitally across the globe. Our wide ranges of quality digital visiting cards are available at
        affordable prices. Additionally, we aim to match the design tools with every skill level and need, which means
        everyone (small, medium, or large business owners) can create their customized vcard as per their requirements.
        Forget about the outdated visiting card designs that deserve to be in the trash now.
      </p>
      <!-- <button pbutton="" pripple="" label="Learn More"
        class="p-element p-ripple text-2xl p-button p-component"><span class="p-button-label">Learn More</span><span
          class="p-ink" style="height: 171px; width: 171px; top: -57.5px; left: 52.5px;"></span></button> -->
    </div>
    <div class="flex-1">
      <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-start mb-5"
        style="border-radius: 10px;">
        <i class="pi pi-instagram text-5xl"></i>
        <!-- <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="w-5rem"> -->
        <div class="ml-4 mt-4 md:mt-0">
          <p class="mt-0 mb-3 line-height-3"> With these Digital visiting Card, you can create and share your contact information in just a click like an email, call, Whatsapp, Map,  Website Link, Social Links, Maps, and much more.</p>
          <div class="text-900 font-medium mb-1 text-right">Users</div>
          <div class="text-600 text-sm text-right">India</div>
        </div>
      </div>
      <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-start mb-5"
        style="border-radius: 10px;">
        <i class="pi pi-telegram text-5xl"></i>
        <div class="ml-4 mt-4 md:mt-0">
          <p class="mt-0 mb-3 line-height-3">We can't understand how we've been living without Digital Cards. Digital Cards impressed
            me on multiple levels. It's really wonderful.</p>
          <div class="text-900 font-medium mb-1 text-right">Users</div>
          <div class="text-600 text-sm text-right">India</div>
        </div>
      </div>
      <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-start"
        style="border-radius: 10px;">
        <i class="pi pi-twitter text-5xl"></i>
        <div class="ml-4 mt-4 md:mt-0">
          <p class="mt-0 mb-3 line-height-3">Just what I was looking for. I would like to personally thank you for your
            outstanding product.</p>
          <div class="text-900 font-medium mb-1 text-right">Users</div>
          <div class="text-600 text-sm text-right">India</div>
        </div>
      </div>
    </div>
  </div>
</div>
